<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="./style.css">
	<title>Prolog Web Store</title>
	<script type="text/javascript">
		(function($) {
			$(document).ready(function() {
                var sales = Vue.component("sales", { // Sales Component
                    props: ['sales'],
                    template: `
                        <div class="sales">
                            <div v-if="sales.length === 0 || Object.keys(sales).length === 0">Sem Vendas Realizadas!</div>
                            <div class="sale" v-for="(sale, index) in sales">
                                <div class="id">Venda <b># {{ index }}</b></div>
                                <br>
                                <div class="product" v-for="products in sale"><b>{{ products[0].Name }}</b> &nbsp; - Quantidade: &nbsp;<b>{{ products.length }}</b> &nbsp; - (Preço por unidade: &nbsp;<b>$ {{ products[0].Price.toFixed(2) }}</b>) &nbsp; - Total: &nbsp; $ {{ _.reduce(products.map(p => p.Price), (a, b) => a + b).toFixed(2) }}</div>
                                <br>
                                - Total da Venda: $ <b>{{ _.reduce( Object.keys(sale).map(k => sale[k]).map(products => products).map(product => product[0].Price), (a, b) => a + b ).toFixed(2) }}<b>
                                <br><hr>
                            </div>
                        </div>
                    `
                });
                var cart = Vue.component("cart", { // Cart Component
                    props: ['cart', 'total'],
                    template: `
                        <div class="cart">
                            <div v-if="cart.length === 0 || Object.keys(cart).length === 0">Sem Produtos!</div>
                            <div class="product" v-for="product in cart">
                                <img class="img-responsive" v-bind:src="product[0].Photo">
                                <div class="info">
                                    <div class="name">{{ product[0].Name }}</div>
                                    <div class="price"><i class="fas fa-dollar-sign"></i> {{ product[0].Price.toFixed(2) }}</div>
                                    <div class="stock">Quantidade: {{ product.length }} unidades.</div>
                                </div>
                                <div class="management">
                                    <a href="javascript:void(0)" class="remove-from-cart" v-on:click="$parent.removeFromCart(product[0])"><i class="fas fa-times-circle"></i></a>
                                </div>
                            </div>
                            <hr>
                            <div class="total">Total da Compra: <i class="fas fa-dollar-sign"></i> {{ total.toFixed(2) }}</div>
                        </div>
                    `
                });
                var app = new Vue({
                    el: "#app",
                    data: {
                        fetchUrl: "http://localhost:4000",
                        products: [],
                        cart: [],
                        cartValue: 0,
                        sales: [],
                    },
                    methods: {
                        randomInteger: function (min, max) {
                            return Math.floor(Math.random() * (max - min + 1) ) + min;
                        },
                        addToCart: function(product) {
                            let hasStock = this.products.filter(p => p.Id === product.Id && p.Stock > 0).length > 0;
                            if(!hasStock) {
                                alert("Estoque zerado.");
                                return;
                            }
                            console.log("Add to cart");
                            console.log(product);
                            $.get(this.fetchUrl + "/stock", { product: product.Id, action: 'dec' }, response => {
                                this.products.map(p => {
                                    if( p.Id === product.Id ) --p.Stock;
                                });
                            });
                        },
                        removeFromCart: function(product) {
                            console.log("Remove from cart");
                            console.log(product);
                            $.get(this.fetchUrl + "/stock", { product: product.Id, action: 'inc' }, response => {
                                this.products.map(p => {
                                    if( p.Id === product.Id ) ++p.Stock;
                                });
                                this.fetchCart();                                
                            });
                        },
                        fetchCart: function() {
                            $.get(this.fetchUrl + "/cart", response => {
                                this.cartValue = 0;
                                response.forEach(product => {
                                    this.cartValue += product.Price;
                                    if(!product.Photo.length || product.Photo === undefined) {
                                        product.Photo = "http://www.companion-group.com/wp-content/uploads/brands-product-information-200x200.gif";
                                    }
                                });
                                this.cart = _.groupBy(response, 'Id');
                            });
                        },
                        fetchSales: function() {
                            $.get(this.fetchUrl + "/sales", response => {
                                if(!response.length) return;
                                this.sales = _.groupBy(response, 'Sale');
                                for(let i in this.sales) {
                                    this.sales[i] = _.groupBy(this.sales[i], 'Product');
                                }
                            });
                        },
                        checkout: function() {
                            if( cart.length === 0 || Object.keys(cart).length === 0 ) return;
                            $.get(this.fetchUrl + "/cart", response => { // Obtem-se a lista de produtos do carrinho de compras.
                                let products = [ ];
                                let saleId = this.randomInteger( this.randomInteger(1, 10000), this.randomInteger(22000, 9000000) ); // Mad Random Sale ID.
                                
                                response.forEach(product => {
                                    products.push({ // Organiza os dados dos produtos do carrinho de compras associados ao ID da venda e seu valor.
                                        sale: saleId,
                                        product: product.Id,
                                        price: product.Price.toFixed(2),
                                    });                                    
                                });
                                
                                // Envia requisição para venda e atualiza os produtos do carrinho de compras.
                                $.get(this.fetchUrl + "/checkout", { products: JSON.stringify(products) }, response => {
                                    this.fetchCart();
                                });
                            });
                        }
                    },
                    watch: {
                        cart: function() {
                            console.log("Fetched Cart.");                            
                            console.log(this.cart);
                        },
                        products: function() {
                            this.products.map(product => {
                                if(!product.Photo.length || product.Photo === undefined) {
                                    product.Photo = "http://www.companion-group.com/wp-content/uploads/brands-product-information-200x200.gif";
                                }
                            });

                            console.log(this.products);
                        },
                        sales: function() {
                            console.log(this.sales);
                        }
                    },
                    mounted: function() {
                        $.get(this.fetchUrl + "/products", data => this.products = data);
                    }
                })
            })
        })(jQuery)
    </script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar"> <!-- Navbar -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto" href="#">Prolog Web Store</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    
                </ul>                
                <a class="navbar-right-icon" href="javascript:void(0)" data-toggle="modal" data-target="#salesModal" v-on:click="fetchSales">
                    <i class="fas fa-clipboard-list"></i>
                </a>
                <a class="navbar-right-icon" href="javascript:void(0)" style="margin: 0 .5em" data-toggle="modal" data-target="#cartModal" v-on:click="fetchCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <a class="navbar-toggler navbar-right-icon" href="javascript:void(0)" data-toggle="modal" data-target="#salesModal" v-on:click="fetchSales">
                <i class="fas fa-clipboard-list"></i>
            </a>
            <a class="navbar-toggler navbar-right-icon" href="javascript:void(0)" data-toggle="modal" data-target="#cartModal" v-on:click="fetchCart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </nav>
        <div class="modal" tabindex="-1" role="dialog" id="cartModal"><!-- Cart Modal -->
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Carrinho de compras</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <cart :cart="cart" :total="cartValue"></cart>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-checkout" v-bind:class="{ disabled: cart.length === 0 || Object.keys(cart).length === 0 }" v-on:click="checkout">Finalizar Compra</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>            
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="salesModal"><!-- Sales Modal -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Vendas Realizadas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <sales :sales="sales"></sales>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="product" v-for="product in products">
                <img class="img-responsive" v-bind:src="product.Photo">
                <div class="info">
                    <div class="name">{{ product.Name }}</div>
                    <div class="price"><i class="fas fa-dollar-sign"></i> {{ product.Price.toFixed(2) }}</div>
                    <div class="stock">Estoque: {{ product.Stock }} unidades.</div>
                </div>
                <div class="management">
                    <a href="javascript:void(0)" class="add-to-cart" v-on:click="addToCart(product)"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    Copyright 2018 - Felipe S. Fernandes - Prolog Web Store
</footer>
</html>