body {
    background-color: #f2f4f3;
}
#navbar {
    background-color: #0ED6BD;
}
#navbar a {
    color: #000000;
}
.navbar-toggler {
    border: none;
}
.product,
.cart {
    display: flex;
    border-bottom: 1px solid #b5b5b5;
    flex-direction: row;
    font-size: 0.9em;
    padding: 1em;
}
.cart {
    border-bottom: none;
    flex-direction: column;
}
.cart .product {
    width: 100%;
}
.product img {
    order: 1;
    max-height: 60px;
}
.product .info {
    order: 2;
    display: flex;
    flex: 60%;
    flex-direction: column;
    margin: 0 1em;
}
.product .management {
    order: 3;
    flex: 30%;
    text-align: center;
}
.product .management .add-to-cart {
    color: greenyellow;
    font-size: 2em;
}
.cart .product .management .remove-from-cart {
    color: red;
    font-size: 2em;
}
.product .name {
    
}
.footer {
    background-color: #0ED6BD;
    color: white;
    padding: .5em 0;
    height: 50px;
    text-align: center;
}